/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */


.gameboardContainer {
  box-shadow: 5px 5px 5px 5px;
  height: 450px;
  width: 700px;
}

.gameboard {
  fill: gray;
}

.enemy {
  fill: gray;
}

.player {
  fill: red;
}
